<div class="form-style">
<legend><strong> Dependency Form</strong></legend>

<div>
        <label for="project-select">Select a Project:</label>
        <select id="project-select">
            <option value="project1">Project X</option>
            <option value="project2">Project Y</option>
            <option value="project3">Project Z</option>
          
            <option value="none" selected>--Please choose a Project--</option>
        </select>
        </div>

<div>
<label for="team-select">Select a Team:</label>
<select id="team-select">
    <option value="team1">Team 1</option>
    <option value="team2">Team 2</option>
    <option value="team3">Team 3</option>
  
    <option value="none" selected>--Please choose a Team--</option>
</select>
</div>

<div>
        <label for="team-select">Select a Sprint:</label>
        <select id="team-select">
            <option value="team1">Sprint 1</option>
            <option value="team2">Sprint 2</option>
            <option value="team3">Sprint 3</option>
          
            <option value="none" selected>--Please choose a Sprint--</option>
        </select>
        </div>

<div>
        <label for="status-select">Status:</label>
    <select id="status-select">
        <option value="status">Actice</option>
        <option value="status">Not Active</option>
        
      
        <option value="none" selected>--Please select a Status--</option>
    </select>
    </div>


<!-- 
        <div class="form-example">
          <label for="name">Enter your name: </label>
          <input type="text" name="name" id="name" required>
        </div>
        <div class="form-example">
          <label for="email">Enter your email: </label>
          <input type="email" name="email" id="email" required>
        </div> -->
            
                
                    <div>
                            <label for="party">Start date/time:</label>
                                <input id="party" type="datetime-local" name="partydate">
</div>
<div>
                            <label for="party">End date/time:</label>
                                <input id="party" type="datetime-local" name="partydate">
                    </div>
                  

                        <div class="textarea-example">
                                <div>
                                    <label for="basic">Notes:</label>
                                    <textarea id="basic" name="basic">
                                        Type your note here
                                    </textarea>
                                </div>
                                <div>
                                    <label for="advanced">Describtion:</label>
                                    <textarea id="advanced" name="advanced"
                                              rows="3" cols="33" maxlength="200"
                                              wrap="hard">
                            --Please type your description here--
                                    </textarea>
                                </div>
                            </div>

                        <div class="form-example">
                                <label for="submit">Create </label>
                          <input type="submit" value="Save">
                        </div>
                     
                                    
                    </div> 
                